.steps{


    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .steps label{
    list-style-type: none;
    display: inline-block;

    position: relative;
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 30px;
    height: 30px;

    background-color: #f0f0f0;
  }
  .steps[data-steps="3"] label{width: 33%;}
  .steps[data-steps="3"] label{width: 25%;}
  .steps[data-steps="3"] label{width: 20%;}
  .steps label > span{
    display: block;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
  }
  .steps label.labelClass > span{
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;

    /*color: #666;
    background-color: #ccc;*/
  }
  .steps label > span:after,
  .steps label > span:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 15px;
  }
  .steps label > span:after{
    top: -5px;
    z-index: 1;
    border-left-color: white;
    border-width: 20px;
  }
  .steps label > span:before{
    z-index: 2;
  }
  .steps label.labelClass + label > span:before{
    border-left-color: #337ab7;

    /*border-left-color: #ccc;*/
  }
  .steps label:first-child > span:after, .steps label:first-child > span:before{
    display: none;
  }
  .steps label:first-child i,
  .steps label:last-child i{
    display: block;
    height: 0;
    width: 0;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: white;
    border-width: 16px;
  }
  .steps label:last-child i{
    left: auto;
    right: -15px;

    border-left-color: transparent;
    border-right-color: white;
    border-top-color: white;
    border-bottom-color: white;
  }
  table {
     border-collapse: collapse;
  }
  th{
    <!--this part - no lines appear for th elements
    background-color: #ccc;
    text-align: center;-->
  }
  th{
    color:#fff;
	  background-color:#337ab7;
	  border-color:#2e6da4;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  tr:nth-child(even) {
    background: #efefef;
  }
  tr:hover {
    background: #d1d1d1;
  }

  .container_step1 div {
      display:inline;
      float:left;
      width:328px;
      background: #f6f6f6;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:10px;
      height:170px;
      margin-left: 5px;
      border-left: 5px #ccc solid;
  }

  h2 {
      font-size:1.1em;
      font-weight:bold;
  }
  .form-group input[type="checkbox"] {
      display: none;
  }

  .form-group input[type="checkbox"] + .btn-group > label span {
      width: 20px;
  }

  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
      display: none;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
      display: inline-block;
  }

  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
  }
